body {
   
    color: #0B130E;
    font-family: 'Inter', sans-serif;
}



.container {
    width: 100%;
    max-width: 650px;
    margin: 40px auto;    
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    
    border: 1px solid rgba(224, 232, 230, 0.25);
    border-radius: 25px;
    padding: 40px;
    border-top-color: rgba(150, 84, 68, 0.975);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6), 
                0 0 40px rgba(16, 185, 129, 0.05);
                
    
    animation: floatingAmbient 6s ease-in-out infinite;

}

h4 {
    font-family:'Courier New', Courier, monospace;
    font-size: small;
}

.radio-group {
    display:inline-table;
    align-items: center;
    gap: 12px; /* Pulls the circle right next to the text */
    margin-bottom: 16px;
    margin-left:2cm;
}

input{
    width: 100%;
    background: rgba(5, 5, 5, 0.6);
    border: 1px solid rgba(16, 185, 129, 0.2);
    border-radius: 8px;
    padding: 16px;
    color: #a7f3d0; /* Muted neon text */
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    
    
}



h1 {
    font-size:20px;
    font-family : "orbitron", Tahoma, sans-serif;
    color: #25844b;
    padding-top: 30px;
    text-align: center;
}





